@font-face {
  font-family: BrandonGrotesque-Bold;
  src: url("Brandon_bld.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: BrandonGrotesque-Medium;
  src: url("Brandon_med.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: NotoSerif-Regular;
  src: url("NotoSerif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
